/*====================
======Typography======
======================*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);



p {
	margin:0;
}

/*====================
======Calculator=======
======================*/

#screen {
	background-color: pink;
	border: 1px solid #000;
	height: 7.2em;
	margin-left:15px;
	width:93.8%;
}

#entryNumber {
	text-align:right;
	height:1.2;
	font-size: 4em;
	margin-bottom: 0.2em;
}

#exitNumber {
	text-align:right;
	font-size: 1.5em;
	height:1.5em;
}


.calculator{
	background-color:greenyellow;
	margin-top:1em;
	padding: 1em 0 1em 0;
	border: 1.5em solid #000;
	border-radius:1em;
}

input[type=button] {
    color:#000;
    font-family:'Roboto', sans-serif;
    font-size:3.5em;
	width:24.1%;
	margin-top: 0.2em;
    cursor:pointer;	
}

.buttons #equal{
	width:48.2%;
}


